*{
    margin: 0;
    padding: 0;
}

/* my common class*/
.container{
    max-width: 1310px;
    margin:0 auto;

}
.btn{
    font-size:16px ;
    font-weight:600;
    text-align: left;
    padding: 10px;
    background-color: #30B868;
    border-radius: 4px;
    
}
.btn-2{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    color: #30B868;
    border:border: 1px solid rgba(255, 255, 255, 1) ;
    border-radius: 100px;
}
/* nav header style*/
.nav-header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 auto;
    background-color: #FFFFFF;
    
}
.nav-link ul {
    display: flex;
    gap:20px;
    list-style: none;
    justify-content: center;
    
}
.nav-link a{
    text-decoration: none;
}
/* hero-background img and text, btn*/
.hero-section{
    
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:540px;
    display:flex;
    justify-content: center;
    align-items: center;

    

}
.hero-section-parant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 ;
    padding
}
.hero-section .btn-2n{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:150px;
    padding-bottom: 24px;
}
.hero-header-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:16px;
    font-size: 60px;
    font-weight: 700 bold;
}
.hero-header-section .header-color{
    color:#30B868
}
p {
    color:rgba(255, 255, 255, 0.658);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 16px;
}
.btn-3{
    
   font-size:16px ;
    font-weight:600;
    text-align: left;
    padding: 10px;
    background-color: #30B868;
    border-radius: 4px;
}
.btn-4{
    font-size:border-box ;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 10px;
    color: #000000;
    border-radius: 4px;}
.btn-box{
    display: flex;
    justify-content: center;
    gap:8px;
    padding-top: 20px;
}
    

