*{
    margin: 0;
    padding: 0;
}

/* my common class*/
.container{
    max-width: 1310px;
    margin:0 auto;

}
.btn{
    font-size:16px ;
    font-weight:600;
    text-align: left;
    padding: 10px;
    background-color: #30B868;
    border-radius: 4px;
    
}
.btn-2{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    color: #30B868;
    border:border: 1px solid rgba(255, 255, 255, 1) ;
    border-radius: 100px;
}
/* nav header style*/
.nav-header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 auto;
    background-color: #FFFFFF;
    
}
.nav-link ul {
    display: flex;
    gap:20px;
    list-style: none;
    justify-content: center;
    
}
.nav-link a{
    text-decoration: none;
}
/* hero-background img and text, btn*/
.hero-section{
    
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:540px;
    display:flex;
    justify-content: center;
    align-items: center;

    

}
.hero-section-parant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 ;
    padding
}
.hero-section .btn-2n{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:150px;
    padding-bottom: 24px;
}
.hero-header-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:16px;
    font-size: 60px;
    font-weight: 700 bold;
}
.hero-header-section .header-color{
    color:#30B868
}
.hero-paragrap p {
    color:rgba(255, 255, 255, 0.658);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 16px;
}
.btn-3{
    
   font-size:16px ;
    font-weight:600;
    text-align: left;
    padding: 10px;
    background-color: #30B868;
    border-radius: 4px;
}
.btn-4{
    font-size:border-box ;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 10px;
    color: #000000;
    border-radius: 4px;}
.btn-box{
    display: flex;
    justify-content: center;
    gap:8px;
    padding-top: 20px;
}
 /* notes-box */
 #notes-section {
    padding-top: 22px;
    text-align: center;
 }
 .notes-container h2{
   /*font-size: 30px;
   margin-bottom: 15px;*/
 }
 #notes-section .notes-container h2{
    font-size: 48px;
    font-weight: 600 bold;
    justify-content: center;
    text-align: center;
 }
 #notes-section .notes-container p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 46px;
    color:#29323a;
 }
 .notes-box-container{
    display: flex;
    gap:24px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
 }
 .notes-box-container img
 {
    background:rgba(249, 85, 85, 1) ;
    border-radius: 24px;
 }
 .notes-box .box-para{
    color: #000000;
 }
.notes-box{
    width:322px;
    padding: 24px;
    border: 8px solid #f7f7f7;
    
    text-align: center;
    background-color: #afaaaa;
    box-shadow: 1px;
}
/* second brain section */

#second-brain-section{
    max-width: 1310px;
    padding: 120px;
    display: flex;
    gap:60px;
    justify-content: center;
}
.brain-section-container{
    display: flex;
    gap:10px;
    margin-bottom: 36px;
    padding: 20px;

    justify-content: center;
    align-items: center;
    
}
.brain-section-img{
    width: 600px;
    border-radius: 2px;

}
.brain-section-para h1 {
    margin-bottom: 36px;
    padding top: 10px;

}
.brain-section-para h5{
    color:#57ee96c2;
    padding-top:10px;
}
.brain-list ul{
    padding-top: 20px;
    list-style: none;
    text-decoration:inline;
}
.brain-list  img{
    width: 20px;
    padding:1px;
}
/* early -access section*/
#early-assess-section{
    max-width: 1310px;
    
    align-items: center;
   

}
.early-access-container{
    padding-top: 22px;
    text-align: center;
     background-color: #ccc2c2;
     margin-bottom: 80px;
     padding:80px 40px;
     border: 12px;

}
.early-access-heading .head-p{
    color: #bcbcbd;
    margin-top: 10px;
}
.btn-5{font-size:16px ;
    font-weight:600;
    text-align: left;
    
    padding : 15px 20px;
    background-color: #30B868;
    border-radius: 4px;
    margin-top: 20px;
}
.early-access-heading h6{
    margin-top: 10px;
    color: #03030350;

}